/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 16, 2015, 5:20:57 PM
    Author     : sp1d
*/

body { 
    padding-bottom: 70px; 
    
}

#tasksBadge.inwork {    
    background-color: #339900;
}

.refolder {
    color : #ff9900;
}

.refile {
    color: #cccccc;
}


.leftpane {
    display: inline-block;
    width: 50%;    
    float:left;  
    overflow-y: scroll;
}
.rightpane {
    display: inline-block;    
    width: 50%;
    border-left: 2px solid gray;
    overflow-y: scroll;
}

.footer {
    border-top: 2px solid gray;
    background-color: #f8efc0;
}

tr.item{

}

tr.selected {
    background-color: #f8efc0;
}

table.panetable {
    border-collapse: collapse;
    /*border: #339900 dashed thick;*/
}

table.panetable tr {
    border-bottom: #339900 solid thin;    
    
}

table.panetable thead{
    font-style:initial;
}